@CHARSET "ISO-8859-1";

* {
	font-family: calibri;
	font-size: 30px;
	color: blue;
	background-color: grey;
}

[target] {
	font-size: 20px;
	background-color: grey;
}

[target=_blank] {
	font-size: 20px;
	background-color: cyan;
}

[title~=last] {
	font-size: 20px;
	background-color: grey;
}

/* ^(start) $(end) and *    */
/*
[title$="div"]
{
		background-color:lightgrey;
}
*/